* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  color: white;
  font-family: Rajdhani;
}
.main-bg {
  height: 100vh;
  width: 100%;
  background-size: contain;
  object-fit: cover;
  overflow: hidden;
  position: fixed;
  filter: brightness(35%);
  z-index: -11;
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/* Start Card */
.Profile {
  position: fixed;
  height: 860px;
  width: 438px;
  left: 0;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  transform: translateY(10%) translateX(50px);
}

.Gradient {
  height: 12px;
  width: 80px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), #e5f8f99d);
  border-radius: 25px;
  position: absolute;
  z-index: 0;
  transition: 0.3s linear;
}
.Box {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translateY(-40px);
}
.Logo {
  height: 50px;
  width: 50px;
}
.Text {
  border: 0px solid white;
  border-radius: 25px;
  box-shadow: 0px 0px 3px white inset;
  padding: 10px 50px;
  font-size: 24px;
  font-family: Rajdhani;
}

.left-card {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.13) inset;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: relative;
  z-index: 11;
  background-color: rgba(10, 10, 10, 0.724);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.Profile:hover > .Gradient {
  width: 100%;
  height: 450px;
  border-radius: 25px;
}
.Profile:hover > .left-card > .Box > .Text {
  background-color: #070707;
  border: 1px black;
  box-shadow: 0px 0px 8px #e5f8f99d inset;
  color: rgb(255, 255, 255);
}
.Profile:hover > .left-card > .Box > .Logo {
  background-color: #070707;
  box-shadow: 0px 0px 5px #e5f8f99d inset;
  border-radius: 100%;
}

#Profile-Pic {
  width: 280px;
  height: auto;
  border-radius: 25px;
  transform: translateY(-110px);
}
#Sign {
  height: 260px;
  width: 260px;
  position: absolute;
  transform: translateY(-40px);
}
.G-address {
  color: rgb(205, 204, 204);
  font-family: Rajdhani;
  font-weight: 500px;
  font-size: 28px;
  font-style: normal;
  transform: translateY(-40px);
}
.Address {
  font-family: Rajdhani;
  font-size: 24px;
  font-style: normal;
  color: rgb(193, 193, 193);
  transform: translateY(-70px);
}
.Link {
  height: 50px;
  width: 70%;
  transform: translateY(-65px);
}
.Link a {
  appearance: none;
}
.Link i {
  font-size: 40px;
  background-color: #474747cc;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  line-height: 55px;
  transition: 0.26s ease-in-out;
}
.fa-facebook:hover {
  height: 45px;
  width: 45px;
  content: url(Resources/Facebook.png);
}
.fa-instagram:hover {
  height: 45px;
  width: 45px;
  content: url(Resources/Instagram.png);
}
.fa-github:hover {
  height: 45px;
  width: 45px;
  border: 1px solid white;
  background-color: white;
  content: url(Resources/github.png);
}
.fa-x-twitter:hover {
  height: 45px;
  width: 45px;
  border: 1px solid white;
  content: url(Resources/Twitter.png);
}
.Button-Pack {
  display: flex;
  height: 60px;
  width: 90%;
  justify-content: space-around;
  transform: translateY(-50px);
}
.DCV-button {
  font-family: Poppins;
  font-size: 24px;
  background-color: black;
  border-radius: 30px;
  padding: 3px 60px;
  transition: 0.3s ease-in-out;
}
.DCV-button:hover {
  background-color: white;
  color: black;
}
.C-button i {
  font-size: 25px;
  color: rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
}
.C-button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  line-height: 65px;
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
  transition: 0.3s ease-in-out;
}
.C-button:hover {
  background-color: black;
}
.C-button:hover > i {
  color: white;
}
/* End Card */
/* Start Home Section */
.Content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 11;
  width: 1100px;
  left: 50px;
}

.home {
  margin-top: 100px;
  font-family: Rajdhani;
  font-size: 100px;
}
.Title {
  gap: 08px;
  display: flex;
  height: auto;
  width: 400px;
  align-items: center;
}
.Circle {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50px;
}
.home h5 {
  font-size: 30px;
  font-weight: 100;
}
.Section-Name {
  display: flex;
  justify-content: flex-end;
  padding: 1px 10px;
  font-size: 30px;
}
.Heading {
  margin-top: 10px;
  height: 500px;
  width: 100%;
  text-align: start;
}
.Description {
  height: auto;
  width: 100%;
  padding: 30px;
  text-align: justify;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.183) inset;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transform: translateY(-80px);
}
.Description .T {
  opacity: 0.5;
  transition: 0.8s;
}
.Description:hover > .T {
  opacity: 1;
}
.Skill-Buttons {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 15px;
}
.Button-Design {
  font-size: 25px;
  padding: 8px 15px;
  border-radius: 25px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.443) inset,
    0px 0px 5px rgba(88, 88, 88, 0.38);
  transition: 0.3s linear;
  background-color: black;
}
.Button-Design:hover {
  background-color: white;
  color: black;
}
/* End Home Section */
/* Start Navigation Section */

.Navigation {
  height: 100px;
  width: 600px;
  gap: 50px;
  /* border:1px solid white;
  border-radius: 50px;
  background-color: rgba(49, 45, 45, 0.751);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.443) inset,
    0px 0px 5px rgba(88, 88, 88, 0.38); */
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  z-index: 11;
  bottom: -400px;
  right: -250px;
  transform: translateY(-800px);
  transition: 0.3s linear;
}
.Navigation a {
  text-decoration: none;
  font-size: 18px;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Navigation i {
  font-size: 30px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.443) inset,
    0px 0px 5px rgba(88, 88, 88, 0.38);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  line-height: 60px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: 0.1s ease-in;
}
.Navigation .Name {
  display: none;
  transition: 0.7s ease-in-out;
  color: black;
}
.Navigation a:hover > .Name {
  display: ruby-text;
  font-size: 15px;
  color: rgb(255, 255, 255);
  border-bottom: 4px solid rgb(54, 101, 243);
  border-radius: 2px;
}
.Navigation i:hover {
  background-color: rgb(250, 250, 251);
  color: rgb(54, 101, 243);
}
/* End Navigation System */
/* Start About Section */
.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 350px;
}
.Title-02 {
  gap: 8px;
  display: flex;
  height: auto;
  width: 400px;
  justify-content: flex-start;
  align-items: center;
  z-index: 11;
  position: relative;
  bottom: 80px;
}
.Circle-02 {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50px;
}
.about h5 {
  font-size: 30px;
  font-weight: 100;
}
.Gradient-02 {
  height: 900px;
  width: 900px;
  background: linear-gradient(
    25deg,
    rgba(192, 253, 244, 0.591),
    rgb(0, 0, 0),
    black
  );
  border-radius: 25px;
  position: absolute;
  z-index: 0;
  opacity: 0;
  transition: 0.3s linear;
}
.About-me {
  position: absolute;
  border-radius: 25px;
  height: 900px;
  width: 900px;
  padding: 80px 40px;
  font-size: 30px;
  text-align: justify;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.14) inset;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.About-me p {
  opacity: 1;
  font-weight: 400;
  font-size: 32px;
}

.About-me #Name {
  font-family: Mrs Saint Delafield;
  font-size: 60px;
  font-weight: 400;
  position: relative;
  top: 60px;
}
.Comma {
  height: 650px;
  width: 650px;
  position: relative;
  opacity: 0.4;
  top: 103px;
  right: 90px;
}
.Picture-no-2 {
  opacity: 1;
  height: 240px;
  width: 240px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  bottom: 200px;
  left: 550px;
  z-index: 11;
}
.about:hover > .Gradient-02 {
  opacity: 1;
}
.Education {
}
