* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Space Grotesk;
  color: white;
}
body{
  background-color: black;
}
main {
  display: flex;
  width: 100%;
  max-width: 1900px;
  position: relative;
  overflow: hidden;
}
main::before {
  content: "";
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background: url(Resources/Background.gif);
  background-size: cover;
  filter: brightness(35%);
  z-index: -1;
}
.flex {
  display: flex;
}
.Nav-Bar{
  border-radius: 50px;
  max-height: 70%;
  padding: 30px 14px;
  margin: 100px 20px ;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.185);
  z-index: 1;
  right: 0;
  position: fixed;
}

.Nav-Bar li{
  display: flex;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  line-height: 48px;
  
  font-size: 1.5rem;
  background-color: black;
  border-radius: 50%;
}
.Nav-Bar i{
   color: white;
}
.Nav-Bar li:hover a>i{
  color: #00adb5;
 
}
.Nav-Bar li:hover {
  background-color: white;
   border: 1px solid black;
  box-shadow: inset 0 0 8px rgb(0, 0, 0);
}
.Nav-Bar Ul{
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
.fixed {
  top: 12%;
  left: 4%;
  margin: auto;
  position: fixed;
}
.Card-Container {
  max-width: 400px;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.185);
  position: relative;
  overflow: hidden;
}
.Card-Container::after {
  content: "";
  top: 0;
  position: absolute;
  border-radius: 25px;
  height: 0%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), #e5f8f99d);
  transition: 0.3s linear;
}
.Card-Container:hover::after {
  height: 40%;
  width: 100%;
}
.Card-Container:hover > .LM-Container > .S-logo {
  background-color: black;
}
.Card-Container:hover > .LM-Container > .Moto {
  background-color: black;
}
.LM-Container {
  gap: 70px;
}
.S-logo {
  width: 50px;
  border: 2px solid white;
  box-shadow: 0 0 8px white;
  border-radius: 50%;
}
.Moto {
  font-size: 18px;
  font-weight: 200;
  border: 2px solid white;
  box-shadow: 0 0 8px white;
  border-radius: 25px;
  text-align: center;
  padding: 10px 20px;
}
.Image-Container-01 {
  margin: 50px 0;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.Profile-Pic {
  max-width: 200px;
  border-radius: 25px;
}
.Sign {
  max-width: 180px;
  position: absolute;
  top: 100px;
}
.Email-Add {
  margin: 40px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.Email {
  font-size: 22px;
  font-weight: 900;
}
.Address {
  font-size: 18px;
  font-weight: 200;
}
.Link-list {
  list-style: none;
  gap: 25px;
}
.Icon {
  height: 50px;
  width: 50px;
  line-height: 48px;
  background-color: white;
  font-size: 2rem;
  border-radius: 50%;
  color: black;
  transition: 0.3s;
}
.fa-facebook-f:hover {
  background-color: #0866ff;
  color: white;
}
.fa-instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
}
.fa-github:hover {
  background-color: black;
  color: white;
}
.fa-linkedin-in:hover {
  background-color: #0a66c2;
  color: white;
}
.Button-bundle {
  margin: 50px 0;
  gap: 20px;
  width: 90%;
}
.DCV-button {
  height: 55px;
  width: 70%;
  background-color: rgb(0, 0, 0);
  border: 2px solid white;
  border-radius: 35px;
  font-size: 22px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.DCV-button:hover {
  background-color: white;
  color: black;
}
.Connect-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.Connect-icon {
  height: 55px;
  width: 55px;
  line-height: 60px;
  background-color: white;
  font-size: 1.8rem;
  border-radius: 50%;
  color: black;
}
/* Name Card done!! */
/* Main Content Started */
article {
  margin-top: 110px;
  padding-left: 28%;
  padding-right: 10%;
}
.Margin-Bottom {
  margin-bottom: 120px;
}
/* Introduction */
.Introduction {
  flex-direction: column;
  gap: 60px;
}
.Intro-H {
  gap: 5px;
  align-items: center;
}
.Circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #64faff9d;
}
.H {
  font-size: 1.7rem;
  font-weight: 100;
  letter-spacing: 2px;
}
.Intro-Text-01 {
  font-size: 6.5rem;
  font-weight: 900;
}
.Intro-Txt-Container {
  flex-direction: column;
  padding: 24px;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.185);
}
.Intro-Text-02 {
  font-size: 1.5rem;
  margin: 10px 0;
  opacity: 0.6;
  text-align: justify;
  transition: 0.8s;
  letter-spacing: 1px;
}
.Intro-Txt-Container:hover > .Intro-Text-02 {
  opacity: 1;
}
.Skill-Buttons {
  gap: 15px;
  flex-wrap: wrap;
  margin: 20px 0;
}
.Button-Design {
  font-size: 1.4rem;
  padding: 8px 15px;
  border-radius: 25px;
  box-shadow: 0 0 4px white;
  background-color: black;
  transition: 0.3s;
}
.Button-Design:hover {
  background-color: white;
  color: black;
}
/* Introduction Ended */
/* About Me Started */
.About-me {
  flex-direction: column;
  gap: 30px;
}
.About-me-H {
  gap: 5px;
  align-items: center;
}
.Statement-Container {
  background: url();
  padding: 40px;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.185);
  flex-direction: column;
  gap: 30px;
  position: relative;
  overflow: hidden;
}
.Statement-Container::after {
  content: "";
  position: absolute;
  bottom: 0;
  align-self: center;

  height: 0%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(0deg, #64faff9d, rgba(255, 255, 255, 0));
  transition: 0.3s linear;
}
.Statement-Container:hover::after {
  height: 50%;
  width: 100%;
}
.Statement-Container:hover > .Statement {
  opacity: 1;
}

.Statement {
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 0.7;
  text-align: justify;
  line-height: 40px;
}
.Statement b {
  font-weight: 700;
}
.Image-Container-02 {
  padding: 0 20px;
  max-width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}
.Name-Sign {
  max-width: 12%;
}
.Comma {
  max-width: 25%;
}
/* Experience Started */

.Experience {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "Experience Problem-Count Project-Count"
    "Experience Review-Count  Clients-Count";
}
.Experience-Count {
  grid-area: Experience;
}
.Problem-Count {
  grid-area: Problem-Count;
}
.Project-Count {
  grid-area: Project-Count;
}
.Review-Count {
  grid-area: Review-Count;
}
.Clients-Count {
  grid-area: Clients-Count;
}

.Count-Card {
  padding: 30px 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.185);
  /* border: 1px solid white; */
}
.Count-Card:hover {
  background-color: white;
  box-shadow: inset 0 0 8px rgb(0, 0, 0);
}
.Exp-Num {
  font-size: 5.5rem;
}
.Exp-Title {
  font-size: 2.5rem;
}
.Number {
  font-size: 3rem;
  font-weight: 900;
}
.Title {
  font-size: 1.4rem;
  font-weight: 600;
}
.Count-Card:hover > .Number {
  color: #00adb5;
}
.Count-Card:hover > .Title {
  color: black;
}
.Count-Card:hover > .Exp-Num {
  color: #00adb5;
}
.Count-Card:hover > .Exp-Title {
  color: black;
}

/* About Me Done!! */
/* Education Started */

.Education-H {
  gap: 5px;
  align-items: center;
}
.Top-Bar {
  justify-content: space-between;
}
.Tag {
  font-size: 2rem;
  font-weight: 900;
  transition: 0.3s linear;
}
.Box {
  border: 2px solid white;
  padding: 5px 20px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s linear;
}

.Parent-container {
  margin: 60px 0;
  gap: 25px;
  flex-direction: column;
}

.Parent-container:hover > .Top-Bar > .Box {
  font-size: 1.3rem;
  font-weight: 700;
  color: black;
  background-color: white;
  border: 2px solid #00adb5;
}
.Degree-Details {
  padding: 40px;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.185);
  position: relative;
  overflow: hidden;
}
.Degree-Details::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #64faff9d, rgba(255, 255, 255, 0));
  transition: 0.3s linear;
}
.Degree-Details:hover::after {
  height: 60%;
  width: 100%;
}
.Degree-Details h1 {
  margin-bottom: 20px;
}
.Degree-Details h2 {
  font-size: 1.4rem;
  font-weight: 300;
}
.LOGO {
  border-radius: 25px;
  width: 20%;
}
/* Education Done!! */
.Skills-H {
  gap: 5px;
  align-items: center;
}
.Slide-track {
  margin:15px 0 ;
  padding: 15px 0;
  gap: 20px;
  overflow-x: scroll;
  width: 100%;
  max-width: 1200px;
  max-height: fit-content;

}
.Slide-track::-webkit-scrollbar{
    
    background-color: white;
    scrollbar-width: thin;
    border-radius: 5px;
}
.Slide-track::-webkit-scrollbar-thumb{
 
  border-radius: 5px;
  background-color: #e0e0e0;
}
.Slide-track::-webkit-scrollbar-track{
  
  border-radius: 5px;
  background-color: #00adb5;
}
.slide {
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.185);
  border-radius: 25px;
  padding: 35px;
}
.Language{
  margin: 60px 0;

}
.Tools{
  margin: 70px 0;
}
.Lang-Icon{
  background-color: rgb(170, 170, 170);
  border-radius: 25px;
  padding: 20px;
}
/* Achievement Started */
.Achievements-H {
  gap: 5px;
  align-items: center;
}
.Achievements-Container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.Achievement {
  border-radius: 25px;
  padding: 30px;
  gap: 40px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.185);
}
.Achievement-Detail {
  text-align: justify;
}
.Trophy {
  height: 80%;
  width: 22%;
}
.Achievement p b {
  font-size: 1.3rem;
  font-weight: 600;
}
.Achievement:hover {
  background-color: white;
  box-shadow: inset 0 0 8px rgb(0, 0, 0);
}
.Achievement:hover > .Achievement-Detail {
  color: black;
}
.Achievement:hover > .Trophy {
  filter: drop-shadow(5px 5px 10px #000000);
}
.Achievement:hover > .Achievement-Detail > b {
  color: #00adb5;
}
/* Achievement Done!! */
/* Projects Started */
.Projects-H {
  gap: 5px;
  align-items: center;
}

.Project-Container {
  margin-top: 60px;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 130px;
}
.Upcoming h1 {
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.185);
  border-radius: 25px;
  font-size: 2.6rem;
  font-weight: 900;
  text-align: center;
  grid-area: title;
}
/* Upcoming Projects */
.UP-Card-01 {
  grid-area: UP-Card-01;
}
.UP-Card-02 {
  grid-area: UP-Card-02;
}
.UP-Card-03 {
  grid-area: UP-Card-03;
}
.Card-Grid-UP {
  display: grid;
  grid-template-areas:
    "title title title"
    "UP-Card-01 UP-Card-02 UP-Card-03";
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
/* Upcoming Projects End */
/* Completed Projects */
.Completed h1 {
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.185);
  border-radius: 25px;
  font-size: 2.6rem;
  font-weight: 900;
  text-align: center;
  grid-area: title;
}

.CP-Card-01 {
  grid-area: CP-Card-01;
}
.CP-Card-02 {
  grid-area: CP-Card-02;
}
.CP-Card-03 {
  grid-area: CP-Card-03;
}
.Card-Grid-CP {
  display: grid;
  grid-template-areas:
    "title title title"
    "CP-Card-01 CP-Card-02 CP-Card-03";
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.Project-Card {
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  gap: 20px;
  border-radius: 25px;
  padding: 30px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.185);
  overflow: hidden;
  position: relative;
}
.Project-Card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), #e5f8f99d);
  transition: 0.3s linear;
}
.Project-Card:hover::after {
  height: 50%;
  width: 100%;
}
.Project-Card p {
  overflow: hidden;
  height: 100%;
  max-height: 200px;
  text-align: justify;
}
.Project-Pic {
  width: 100%;
  border-radius: 25px;
}
/* Project Done !! */
/* Blog started */
.Blogs-H {
  gap: 5px;
  align-items: center;
}
.Blogs-Holder {
  margin: 60px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.Blog-Card {
  width: 100%;
  max-width: 400px;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.185);
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.Blog-Card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), #e5f8f99d);
  transition: 0.3s linear;
}
.Blog-Card:hover::after {
  height: 50%;
  width: 100%;
}
.Blog-Text {
  overflow: hidden;
  height: 100%;
  max-height: 200px;
  text-align: justify;
}
.Blog-Banner {
  width: 100%;
  border-radius: 25px;
}
/* Blogs Done!! */
/* Contact Me Started */
.Contact-Me-H {
  gap: 5px;
  align-items: center;
}
.Contact-Container {
  margin: 40px 0;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.Location-Card {
  width: 100%;
  max-width: 420px;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.185);
}
.Location-Card iframe {
  border-radius: 25px;
  width: 100%;
}

.Form {
  width: 60%;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.185);
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.Form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), #e5f8f99d);
}
.N-P-Box {
  width: 100%;
  gap: 24px;
}
.Input-Box {
  margin: 5px 0;
  padding: 15px;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  background-color: #000000;
  border: 2px solid white;
  box-shadow: 0 0 8px white;
}
.Submit {
  height: 55px;
  width: 100%;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  font-weight: 800;
  border-radius: 25px;
}
.Submit:hover{
  background-color: #00adb5;
  color: white;
}
/* Contact Me Done!! */
/* Footer Started */
.Footer-Container {
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.Footer-Container hr {
  width: min(90%, 900px);
  border: none;
  border-top: 1px solid #e0e0e0;
}
.Copyright {
  font-size: 1.4rem;
  font-weight: 500;
}
.Footer-Container img {
  width: 30%;
}
/* Footer Ended */
